*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

ul{
    list-style-type: none;
    display: inline;
}

ul li{
    display: inline;
    vertical-align: center;
}

nav{
    block-size: 50px;
    width: 100%;
    display: inline-block;
}

#one{
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-top: 2%;
}

#two{
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;

}